build/
node_modules/
output/
*.d
*.o
*.a
*.so
*.pyc
*.pyo
__pycache__
compile_commands.json
/tests
.DS_Store
.idea
# clangd cache
.cache
# CodeQL build directory
_codeql_build_dir/
_codeql_detected_source_root
